#IconesPage3 {
    padding-bottom: 40px;
    display: flex;
    margin-bottom: 50px;
}

#IconesPage3 div {
    width: 90px;
    height: 90px;
    background-color: rgba(185, 185, 185, 0.445);
    margin-right: 30px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: rgba(48, 47, 47, 0.699);
    transition: .3s;
}

#IconesPage3 div:focus {
    color: #020F59;
    transition: .3s;
}


#IconesPage3 div:hover {
    width: 95px;
    height: 95px;
}

#ParagrafroInicio3 {
    text-align: left;
    font-size: 15px;
    margin-bottom: 30px;
}

#inputPage3 {
    background-color: rgba(185, 185, 185, 0.445);
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 50px;
    margin-bottom: 40px;
}


#buttonRetornar3 {
    background-color: rgba(185, 185, 185, 0.445);
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 10px 6px 10px 13px;
    border-radius: 50%;
    color: rgba(48, 47, 47, 0.699);
}

.VoltarCarregamento3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
} 



.barraCarregamento3 {
    position: relative;
    background-color:  rgba(185, 185, 185, 0.445);
    width: 100%;
    height: 13px;
    border-radius: 20px;
}

.barraCarregamento3::before {
    content: '';
    position: absolute;
    left: 0;
    width: 25%;
    height: 100%;
    background:  #020F59;
    transform-origin: left;
    animation: ProgressPage3 .5s ease-in-out;
    border-radius: 20px;

}

#AvatarPage3 {
    width: 42%;
    background-image: url('../../../assets/medium-shot-environmental-engineer-holding-laptop.webp'); /* Substitua pelo URL da imagem */
    background-size: cover;
    background-position: right;
}

@keyframes ProgressPage3 {
    0%, 25% {
        transform: scaleX(0);
    }

}

@media (max-width: 1020px) {

    #IconesPage3 {
        display: inline-block;
    }
    
    #IconesPage3 div {
        display: inline-block;
        padding: 10px;
    }

    #IconesPage3 div p {
        margin-top: -10px;
    }

    #IconesPage3 div {
        margin-bottom: 20px;
    }
}